* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
  }
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input,
.input-container textarea,
.input-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #939393; /* Updated border color */
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container input:focus,
.input-container textarea:focus,
.input-container select:focus {
    border-color: #5a9;
    outline: none;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-container input:focus + label,
.input-container textarea:focus + label,
.input-container select:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:not(:placeholder-shown) + label,
.input-container select:not(:placeholder-shown) + label {
    top: -15px;
    left: 10px;
    font-size: 12px;
    color: #5a9;
}

textarea {
    height: 80px;
    resize: none;
}

.submit-btn {
    background-color: #5a9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
}

.submit-btn:hover {
    background-color: #4a8;
    
}

@media (max-width: 500px) {
    .container {
        width: 95%;
    }
}

