@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

* { 
  font-family: "Montserrat", sans-serif; 
}

.logo img{
  height: 50px;
}
.navbar{
  margin-top: 20px;
  background: #434343; 
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  width: 130px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.search-button {
  padding: 5px;
  background-color: transparent;
  border: none;
  filter: invert(1);
}

nav {
  padding: 10px 36px; 
  width: 100%;
  margin: auto; 
  display: flex;
  flex-direction: row; 
  align-items: center; 
  box-sizing: border-box;
}

nav h1 {
  margin: 0;
  font-size: 32px;
  background: linear-gradient(90deg, #EEC48B, #947A58);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

nav div {
  display: flex;
  gap: 20px; /* Space between nav items */
  margin-left: auto; /* Push items to the right */
}

nav a {
  text-decoration: none;
  color: #9F9F9F;
  font-size: 14px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

nav a:hover {
  background: rgba(159,159,159, 0.1);
}

nav a img {
  filter: invert(1);
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.active-page {
  color: #EEC48B;
  background: rgba(159,159,159, 0.1);
}
.active-page span {
  background: #EEC48B;
}

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1A1A1A; /* Match the nav background */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}







body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 7px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(32px);
}







.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}