@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&family=Ubuntu:ital@1&display=swap');


/*
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;*/

:root {
  --light: #96c4f3;
  --secondary: #4f3145;
  --dark: #343a40;
  --primary-color: #f15bb5;
  --secondary-color: #2ec4b6;
  --border: #f2b5d4;
  --body-bg:#f7d1cd;
}

@media (prefers-color-scheme: dark) {

  :root {
    --light:#0025ff;
    /* Dark background color */
    --secondary: #6c757d;
    /* Light gray for secondary elements */
    --dark: #f8f9fa;
    /* Light color for text on dark background */
    --primary-color: #f15bb5;
    /* Primary accent color */
    --secondary-color: #2ec4b6;
    /* Secondary accent color */
    --border: #495057;
    /* Dark gray for borders */
    --body-bg:black;


  }


}

[data-theme="dark"] {

  --light:#0025ff;
  /* Dark background color */
  --secondary: #6c757d;
  /* Light gray for secondary elements */
  --dark: #f8f9fa;
  /* Light color for text on dark background */
  --primary-color: #f15bb5;
  /* Primary accent color */
  --secondary-color: #2ec4b6;
  /* Secondary accent color */
  --border: #495057;
  /* Dark gray for borders */
  --body-bg:black;



}
/* #header{
  border-radius: 20px;
  padding:5px;
  background-color: black;
  color:white;
} */

header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid black;
}



body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;


  /* background: linear-gradient(to right, #7F7FD5, #91EAE4); */
   background:var(--body-bg);
  /* background-color: f7d6e0; */

}

.btn-primary {
  border-radius: 4px;
  background-color: var(--secondary-color);
}

.object-fit {
  max-height: 120px;
  height: 50px;
  width: 50px;
  object-fit: fill;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 50px;
}

.mb-3 {
  margin-bottom: 30px;
}

.m-0 {
  margin: 0;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.thumbnail {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.rounded {
  height: 120px;
  width: 120px;
  object-fit: fill;
  border-radius: 99px;
}

.shadow {
  box-shadow: (0px 8px 24px, green, blue, alpha);
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;

}


a {
  text-decoration: none;
}

*>* {
  box-sizing: border-box;
}

/* global */
.text-light {
  color: var(--light);
}

.text-secondary {
  color: var(--border)
}

.text-dark {
  color: var(--dark);
}

.text-primary {
  color: var(--primary-color);
}

.bg-light {
  background-color: var(--light);
}

.container {


  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.img-fluid {
  width: 93%;
}

.text-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;

}

.text-title:hover {
  color: pink;
}

.secondary-title {
  font-family: 'Ubuntu', sans-serif;
}

.display-1 {
  font-size: 22px;
}

.display-2 {
  font-size: 16px;
}

.display-3 {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}






/*section*/
/* navigation menu*/
.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.nav-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  align-self: center;
  font-size: 32px;
}

.collapse {
  align-self: center;
}

.nav-link {
  border-radius: 99px;
  padding: 2px;
  font-size: 18px;
  margin: 7px;
  color: var(--dark);
  font-family: 'Ubuntu', sans-serif
}

.nav-link:hover {
  color: var(--primary-color);
}

.search-box {
  display: inline;
  border-right: 1px solid var(--secondary);
  padding-right: 12px;
  margin-right: 10px;
}

.toggle-button {
  font-size: 21px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  margin: 8px 10px;
  display: none;
}

.toggle-button:focus {
  outline: none;
}


/* navigation menu*/
/*main*/
#site-main {
  margin-top: 8em;
}

#posts {
  margin-bottom: 5em;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.grid .grid-item {

  margin-bottom: 3em;
}
 
footer {
  padding-top: 4em;

}

#footer .feature-post .flex-item {
  margin-bottom: 10px;
}

#footer .tag a {
  border-radius: 99px;
  padding: 10px 20px;
  font-size: 15px;
 
}
.tags{
  background-color:black;
  
}
 
/*article page*/

/*sidebar*/
#sidebar .categories a {
  padding: 1em 3em;
  font-size: 18px;
  margin-bottom: 1em;
  background-color: var(--light);
  border-radius: 99px;
}

#sidebar .categories a:hover {
  background-color: var(--primary-color);
  color: var(--light);
}

/*sidebar*/

/*media query*/
.row {
  display: flex;
}

.col-3 {
  flex: 0 0 33.3333%;
  max-width: 33.333%;
  padding-right: 35px;
}

@media(max-width : 1024px) {
  .row {
    flex-wrap: wrap;
  }



}


.col-8 {
  flex: 0 0 70%;
  max-width: 70%
}

.col-4 {
  flex: 0 0 30%;
  max-width: 30%;
}

@media (max-width : 992px) {
  .navbar {
    flex-direction: column;
  }
}

@media (max-width : 768px) {
  .grid .grid-item {
    width: calc(50% - 20px);
  }

  .col-3 {
    flex: 0 0 100%;
    max-width: calc(100% - 50px);
    padding-top: 40px 50px;
  }

}

@media (max-width : 574px) {
  .toggle-button {
    display: initial;
  }
}


/*.collapse{
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.51,-0.15, 0, 0.98);}*/

.overflow-img {

  max-width: 300px;
  overflow: hidden;


  transition: transform 0.3s ease;
}

.overflow-img img {

  width: 100%;
  height: auto;
}

.overflow-img:hover {

  transform: scale(1.1);
}


.overflow-img a {
  text-decoration: none;

}





.collapse.nav-link {
  display: block;
  text-align: center;

}

.search-box {
  border-right: none;
}

.collapse-toggle {
  max-height: 500px;
}

/*.swiper-container{
  width:600px;
  height:300px;
}*
/* CSS */
.swiper-container {
  max-width: 400px;
  margin: 0 auto;
}

.swiper-slide img {
  width: 80%;
  height: auto;
}

.slider-wrapper {
  max-width: 800px;

}


/*category page*/

.category-box {
  border: 4px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  background: linear-gradient(to right, #7BC393, #31B7C2);

}

.category-title {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 3px solid #000;
  padding-bottom: 10px;
}

.post-item {
  margin-bottom: 20px;

}



.post-thumbnail img {
  width: 800px;
  height: 300px;

}




.post-title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  /* Thin line under post title */
  padding-bottom: 5px;
}




.container2 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  flex: 1;
  height: 33.33%;
}

.column {
  flex: 1;
  box-sizing: border-box;
  margin: 5px;
}

.light-blue {
  background-color: lightblue;
  height: 33.33%;
  padding: 15px;
  flex: 3;
}



.violet {
  background-color: rgb(232, 223, 232);
  height: 33.33%;
  padding-left: 450px;
  flex: 3;




}

.red {
  background-color: red;
  height: 33.33%;
}

.container2 {
  max-width: 1200px;
  max-height: 600px;
  margin: 0 auto;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 20px;
  flex: 1;
  box-sizing: border-box;
  font-size: 24px;
  padding: 10px 20px;
}


.column-title {
  font-size: 30px;
}

.centered-bold {
  text-align: center;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;

}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button styling */
.start-writing {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 99px;
  cursor: pointer;
}

.start-writing:hover {
  background-color: rgb(77, 57, 205);
}

/* start writing page*/
.section1 {
  width: 100%;
  background: linear-gradient(to right, #7BC393, #31B7C2);
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.sec1d {
  width: 30%;
  padding: 20px;
  border: 1px solid black;

}

.flexone {
  flex: 2;

}

.flextwo {
  flex: 1;

}

.flexthree {
  flex: 1;
}

.flexfour {
  flex: 1;
}

.flexfive {
  flex: 3;
}

.flexsix {
  flex: 2;

}

.p1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
}

.p2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

/* start writing page*/
/* Footer Styling */
#footer {
  padding: 4em 0;
  background-color: #010203;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  width: 100%;height: auto;
  border-radius: 4px solid black;
}

#footer .footer-title {
  font-size: 1.5rem;
  color: #fbfbfb;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer .secondary-title {
  font-size: 1.2rem;
  color: #e5e9ec;
}

#footer .text-secondary {
  color: #f2f7fc;
}

#footer address, #footer .phone, #footer .email {
  margin-bottom: 1.2em;
  font-size: 1rem;
  color: #e2e2e2;
}

#footer i.text-primary {
  margin-right: 10px;
  color: #4d4f51;
}

/* Feature Post Styling */
.feature-post .article {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.feature-post img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.feature-post .text-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

.feature-post .secondary-title {
  font-size: 0.9rem;
  color: #adb5bd;
}

/* Tags Styling */
 

 /* Tags Styling */
.tags {
  background-color: transparent; /* Set to transparent to match the rest of the footer */
  padding: 1em;
}

.tags .tag-button {
  background-color:transparent; /* Default background color for tags */
  color: #fff;
  padding: 0.5em 1.2em;
  margin: 0.3em;
  border-radius: 50px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.tags .tag-button:hover {
  background-color: #0056b3; /* Hover effect for tags */
}


/* Social Icons Styling */
.social .social-button {
  background-color: transparent;
  color: #fff;
  padding: 0.5em;
  margin: 0.3em;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.social .social-button:hover {
  background-color:#0056b3 ;
}

/* Responsive Design */
@media (max-width: 768px) {
  .col-3 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 2em;
  }

  .feature-post img {
      width: 60px;
      height: 60px;
  }
}
hr{
   margin-bottom: 30px;
}
