@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&family=Ubuntu:ital@1&display=swap");
githu * {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#preloader{
  background: #ddbea9;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 200;
}
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #ce4233;
  letter-spacing: 0.2em;
  
  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ce4233;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}
/*
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
:root {
  /* Light Theme Colors */
  --light: #f0e4d7;
  --secondary: #2d545e;
  --dark: #3b3b58;
  --primary-color: #f4978e;
  --secondary-color: #c1c8e4;
  --border: #ddbea9;
  --body-bg: #f5f5f5;
}

/*
@media (prefers-color-scheme: dark), [data-theme="dark"] {
   Dark Theme Colors 
  --light: #2e3440;
  --secondary: #3b4252;
  --dark: #eceff4;
  --primary-color: #f4978e;
  --secondary-color: #b48ead;
  --border : #4c566a;
  --body-bg: #1e1e2f;
}*/

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background: var(--body-bg);
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

/* Hide scrollbar for main body */
/* .main-body::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for main body 
.main-body::-webkit-scrollbar {
  display: none;
}*/

/* Global Styles - Remove Horizontal Scroll */
html, body {
  /* overflow-x: hidden;  Prevent horizontal scroll */
  margin: 0;
  padding: 0;
}


/* Light Mode Scrollbar - Vertical Scroll Styling */
::-webkit-scrollbar {
  width: 16px; /* Vertical scrollbar width */
  height: 16px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: var(--text-color); /* Color of the thumb (scrollbar handle) */
  border: 3px solid var(--background-color); /* Adds padding around the thumb */
  border-radius: 20px;
}

/* Hover Effect for Light Mode */
::-webkit-scrollbar-thumb:hover {
  background: #f4978e; 
}

[data-theme="dark"] ::-webkit-scrollbar-track {
  background: var(--background-color); /* Dark mode background for scrollbar track */
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: var(--text-color); /* Dark mode thumb color */
  border: 3px solid var(--background-color); /* Adds padding in dark mode */
  border-radius: 20px;
}


/* Hover Effect for Dark Mode */
[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: #f4978e; 
}







header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F4EFE6;
  padding: 0rem 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #1C160C;
  /* margin: 0 3rem; */
}
.logo h2 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.2rem
}
.nav-links1 {
  display: flex;
  gap: 2.1rem;
  margin: 0 0.5rem;
  /* margin: 0 2rem; */
  /* margin-right: 3rem; */
}
.nav-links1 {
position: relative; /* Set relative positioning for parent */
}
.nav-links1 a {
color: #1C160C; /* Original color for links */
text-decoration: none; /* Remove underline */
font-size: 1rem; /* Font size */
font-weight: 500; /* Medium weight */
position: relative; /* Position for the underline */
padding-bottom: 5px; /* Add space for the underline */
/* margin: 0.3rem; */

}
.auth-buttons {
  display: flex;
  gap: 0.5rem;
  /* margin-left: 0.5rem; */
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 9999px;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
}
.login-button {
  background-color: black;
  color: #FFFFFF;
  /* border: none; */
}
.signup-button {
  background-color: #F4EFE6;
  color: #1C160C;
  border: 2px solid black;
  /* margin-right: 0.3rem; */
}
.toggle-button {
  background-color: #F4EFE6;
  color: #1C160C;
  gap: 0.5rem;
  border: 2px solid black;
}
.toggle-icon {
  color: #1C160C;
}
.layout-container {
  flex-grow: 1;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #F4EFE6;
 /* position: relative; */
 top: 0;
 position: sticky;
 z-index: 999;
}
/* hover effect */
.signup-button:hover{
/* background-color: #1C160C; */
  /* border: #1C160C; */
  transform: scale(1.05);
  transition: all 0.3s;
}
.login-button:hover{
/* background-color: #1C160C; */
  /* border: #1C160C; */
  transform: scale(1.05);
  transition: all 0.3s;
}
.nav-links1 a::after {
content: ''; /* Create a pseudo-element */
position: absolute; /* Absolute positioning */
left: 0; /* Align to the left */
bottom: 0; /* Align to the bottom */
width: 100%; /* Full width */
height: 3px; /* Height of the underline */
background-color: #4A4A4A; /* Color of the underline */
transform: scaleX(0); /* Start with no width */
transition: transform 0.2s ease; /* Smooth transition */
}
/* Hover Effect */
.nav-links1 a:hover::after {
transform: scaleX(1); /* Scale to full width on hover */
}
/* Optional: To make the navbar more distinctive #F4EFE6*/
.header {
background-color: #f4ede3; /* Navbar Background */
border-bottom: 2px solid #f4978e; /* Optional border to distinguish the navbar */
background: transparent
}   


/* Import Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap");

/* Global styles */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; /* Added for better box model handling */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--background-color); */
  /* padding: 20px; */
}

.logo h2 {
  font-size: 2.5rem; /* Adjusted font size for better visibility */
  color: rgb(59, 59, 88);
  white-space: nowrap; /* Prevent logo from breaking into two lines*/
}
/* navbar styling changed */
.nav-menu {
  background-color: rgb(244, 237, 227);
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.nav-menu ul li {
  list-style: none;
  margin: 0 0.2rem;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: rgb(244, 237, 227);
  transition: all 0.3s ease;

  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Hover Effect - Slight enlarge on hover */
.nav-menu ul li a:hover {
  background-color: #ffd479;
  color: #000;
  transform: scale(1.05);
}

/* Active link styling */
.nav-menu ul li a.active {
  background-color: #ffd479;
  color: #000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-menu ul {
    flex-direction: column;
    gap: 10px;
  }

  .nav-menu ul li a {
    text-align: center;
    padding: 10px;
    width: 100%; /* Ensures full-width for small screens */
  }
}
.dropdown{
  float: left;
  color: black;
}

.dropbtn{
  padding-right: 13px;
}
.dropdown .dropbtn{
  border: none;
  background-color: rgb(244, 237, 227);

}
.profile-icon{
  width: 30px;
}
.dropdown:hover .dropbtn{
  border-bottom: 1px solid #fff;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  float: none;
  padding: 12px;
  color: black;
  display: block;
  text-align: left;
}
.dropdown-content a:hover{
  background-color: #ee9048;
  color: white;
}
.dropdown:hover .dropdown-content{
  display: block;
}



.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons .login-btn,
.auth-buttons .signup-btn {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.auth-buttons .login-btn {
  /* background-color: var(--background-color); */
  color: var(--text-color);
}

.auth-buttons .signup-btn {
  /* background-color: var(--background-color); */
  color: var(--text-color);
}

.auth-buttons .login-btn:hover {
  /* background-color: var(--background-color); */

  border-radius: 20px;
  box-shadow: 0 0 2px var(--dark);
  background-color: #a3f3ffbb;
  color: blue;
}

.auth-buttons .signup-btn:hover {
  /* background-color: var(--background-color); */

  border-radius: 20px;
  box-shadow: 0 0 2px var(--dark);
  background-color: #a3f3ffbb;
  color: blue;
}

/* Form Popup */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 9;
  width: 100%;
  max-width: 560px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.form-container h1 {
  font-family: "Courier New", Courier, monospace;
}
.form-container h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-container label {
  width: 100%;
  text-align: left;
}

.form-container h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.form-container input[type="email"],
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 5px;
  margin: 10px 0;
  margin-bottom: 40px;
  border: none;
  border-bottom: 2px solid var(--text-color);
  background-color: transparent;
  outline: none;
  color: var(--text-color);
  font-size: 18px;
}

.form-container input::placeholder {
  color: #999;
}

.form-container .btn {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 12px;
  margin: 10px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .btn:hover {
  background-color: #333333;
  color: var(--body-bg);
}

.form-container .cancel {
  background-color: white;
  color: #060606;
  border: 1px solid #ccc;
}

.form-container .cancel:hover {
  background-color: #f5f5f5;
}

.form-container .btn.cancel {
  margin-top: 10px;
  background-color: #ec6371;
  color: white;
  border: none;
}

.form-container .btn.cancel:hover {
  background-color: #c82333;
}

.form-container .divider {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.form-container .divider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  top: 50%;
  left: 0;
}

.form-container .divider p {
  position: relative;
  background-color: #f5f5f5;
  padding: 0 10px;
  font-size: 14px;
  color: #999;
}

.form-container .social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #060606;
}

.form-container .social-btn img {
  width: 20px;
  margin-right: 10px;
}

.toggle-mode {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-mode label {
  font-size: 1rem;
  color: var(--text-color);
}

input[type="checkbox"] {
  transform: scale(1.2);
}

/* Navigation styling */

/* Navigation links and dropdown */
.nav-links {
  display: flex;
  gap: 10px; /* Space between links */
  margin-left: auto; /* Push links to the right */
}

nav a {
  padding: 0.7rem;
}

.home-link {
  color: var(--text-color);
}
.home-link:active {
  color: var(--text-color);
}

.active-page {
  color: #eec48b;
  background: rgba(159, 159, 159, 0.2);
}

/* Dropdown button styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Dark mode styling */
body.dark {
  background-color: var(--background-color);
}

body.dark h1,
body.dark .support a {
  color: var(--text-color);
}

/* Checkbox for theme switcher */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--background-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: var(--background-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(26px);
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  /* .nav-menu ul {
      flex-direction: column;
      gap: 10px;
  } */

  .nav-icons {
    margin-top: 10px;
  }

  .search-bar {
    margin-bottom: 10px; /* Space between search bar and nav links */
  }

  .nav-links {
    flex-direction: column; /* Stack links vertically */
    width: 100%; /* Full width */
  }

  nav a {
    width: 100%; /* Make links full width */
    justify-content: center; /* Center align text */
  }

  .theme-switch {
    margin-top: 10px; /* Space above theme switch */
  }
}

/*navbar */

.btn-primary {
  border-radius: 4px;
  background-color: var(--text-color);
  color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--background-color);
  color: var(--light);
  padding: 2px;
}

.object-fit {
  max-height: 120px;
  height: 50px;
  width: 50px;
  object-fit: fill;
}

.d-flex {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.d-flex-gap {
  margin: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.d-flex-gap a {
  font-weight: 600;
  color: var(--text-color);
}

.d-flex-gap a i {
  font-size: 24px;
  padding-right: 15px;
}

.flex-column {
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align items horizontally */
}

.flex-column a {
  margin: 5px 0; /* Space between icons */
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 10px;
}

.mb-3 {
  margin-bottom: 30px;
}

.m-0 {
  margin: 0;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
} */

.py-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.thumbnail {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.rounded {
  height: 120px;
  width: 120px;
  object-fit: fill;
  border-radius: 99px;
}

.shadow {
  box-shadow: 0px 8px 24px rgba(58, 90, 64, 0.3);
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.meta{
  margin-top: 10px;
}
a {
  text-decoration: none;  
   font-size: large;
  font-weight: 700;
}
#travel{
  color: rgb(59, 59, 88);
}

* > * {
  box-sizing: border-box;
}

.text-light {
 
  color: var(--text-color);
}

.text-secondary {
  margin-right: 20px;
  color: var(--text-color);

}
#fa{
  margin: 4px;
}
.text-dark {
  color: var(--text-color);
}

.text-primary {
  color: var(--text-color);
}

.bg-light {
  background-color: var(--background-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.img-fluid {
  width: 93%;
}

.text-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.text-title:hover {
  color: var(--primary-color);
}

.secondary-title {
  font-family: "Ubuntu", sans-serif;
  margin-left: 18px;
  color: var(--text-color);
}

.display-1 {
  font-size: 22px;
}
.display-2 {
  font-size: 16px;
}

.display-3 {
  font-size: 14px;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.text-right {
  text-align: right;
}

/* .navbar {
  display: flex;
  align-items: center; /* Center vertically */
/* justify-content: space-between;
  padding: 10px;
} */
*/

/* .logo h1 {
  font-size: 2rem;
  color: #333;
} */

/* .nav-brand {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  align-self: center;
  font-size: 32px;
}

.collapse {
  align-self: center;
} */

.nav-link {
  border-radius: 99px;
  padding: 2px;
  font-size: 18px;
  margin: 7px;
  color: var(--dark);
  font-family: "Ubuntu", sans-serif;
}

.nav-link:hover {
  color: var(--text-color);
}

.search-box {
  display: inline;
  border-right: 1px solid var(--secondary);
  padding-right: 12px;
  margin-right: 10px;
}

.toggle-button {
  font-size: 21px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  margin: 8px 10px;
  display: none;
}

.toggle-button:focus {
  outline: none;
}

#site-main {
  margin-bottom: 20px;
}

#posts {
  margin-bottom: 6em;
}

.load-posts-btn {
  background-color: #ffd479;
  color: black;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 2px 2px 5px #3E2C20 ;
}

.load-posts-btn:hover {
  background-color: #e89e00 ;
  color: black;
  cursor : pointer ;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.grid .grid-item {
  margin-bottom: 3em;
}
.sliderr * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sliderr {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.sliderr .slides {
  display: flex;
  width: 600%;
  height: 400px;
  position: relative; 
}

.sliderr .slides input[type="radio"] {
  display: none;
}

.sliderr .slide {
  width: 16.66%;
  transition: 0.6s ease;
}

.sliderr .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderr .navigation-manual {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.sliderr .manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  margin: 0 5px;
}

.sliderr .manual-btn:hover {
  background: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -16.66%;
}

#radio3:checked ~ .first {
  margin-left: -33.32%;
}

#radio4:checked ~ .first {
  margin-left: -49.98%;
}

#radio5:checked ~ .first {
  margin-left: -66.64%;
}

#radio6:checked ~ .first {
  margin-left: -83.3%;
}


.sliderr .navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.sliderr .navigation-auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  transition: 0.4s;
  margin: 0 5px;
}


.sliderr::before,
.sliderr::after,
.sliderr .slides::before,
.sliderr .slides::after,
.sliderr .slide::before,
.sliderr .slide::after {
  content: none;
}

@keyframes slider {
  0% {margin-left: 0;}
  16.66% {margin-left: -16.66%;}
  33.32% {margin-left: -33.32%;}
  49.98% {margin-left: -49.98%;}
  66.64% {margin-left: -66.64%;}
  83.3% {margin-left: -83.3%;}
}

#radio1:checked ~ .first {
  margin-left: 0;
  animation: slider 36s infinite;
}

#radio2:checked ~ .first {
  animation: slider 36s infinite;
}

#radio3:checked ~ .first {
  animation: slider 36s infinite;
}

#radio4:checked ~ .first {
  animation: slider 36s infinite;
}

#radio5:checked ~ .first {
  animation: slider 36s infinite;
}

#radio6:checked ~ .first {
  animation: slider 36s infinite;
}

.social-sharing {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-button {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  margin-top: 10px;
}

/* Modal Styles */
#share-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-content a {
  display: block;
  border: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 10px 0;
  color: #007bff;
  text-decoration: none;
}

.close-modal {
  cursor: pointer;
  color: #ff0000;
  margin-top: 10px;
}

#footer {
  padding-top: 5em;
  padding-bottom: 2em; /* Adjust if necessary */
}

#footer .feature-post .flex-item {
  margin-bottom: 10px;
}

#footer .tag a {
  border-radius: 99px;
  padding: 10px 20px;
  font-size: 15px;
}

#post {
  padding: 0 2em;
  margin-bottom: 4em;
}

.post-footer .post-author {
  position: relative;
  margin-top: 4em;
  background-color: var(--background-color);
}

.post-footer .post-author::after {
  background-color: var(--background-color);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  z-index: 0;
}

.post-footer .post-author .author-avatar {
  margin: 0 auto;
  margin-bottom: 1em;
  position: inherit;
  z-index: 1;
}

.post-footer .post-comments .reply {
  padding-left: 7em;
}

.form-control {
  width: 100%;
  border: 2px solid var(--border);
  padding: 1em;
  font-size: 18px;
  margin-right: 10px;
}

#sidebar .categories a {
  padding: 1em 3em;
  font-size: 18px;
  margin-bottom: 1em;
  background-color: var(--background-color);
  border-radius: 99px;
}

#sidebar .categories a:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.row {
  display: flex;
}

.footer-container {
  padding: 0 80px;
  margin: auto;
}

.col-3-main {
  display: flex;
  width: 100%;
  gap: 20px;
}

.col-3 {
  flex: 0 0 33.3333%;
  max-width: 33.333%;
}

@media (max-width: 1024px) {
  .row {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .grid .grid-item {
    width: calc(50% - 20px);
  }

  .col-3 {
    flex: 0 0 100%;
    max-width: calc(100% - 50px);
    padding-top: 40px 50px;
  }
}

@media (max-width: 574px) {
  .toggle-button {
    display: initial;
  }
}

.overflow-img {
  max-width: 300px;
  /* overflow: hidden; */
  height: auto;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgb(249, 81, 81);
  border-radius: 20px;
}

.overflow-img img {
  width: 100%;
  height: auto;
}

.overflow-img:hover {
  transform: scale(1.1);
  box-shadow: 7px 7px 10px rgb(184, 0, 0);
  transition: all 0.2s ease-in-out;
}

.overflow-img a {
  text-decoration: none;
}

.collapse.nav-link {
  display: block;
  text-align: center;
}

.search-box {
  border-right: none;
}

.collapse-toggle {
  max-height: 500px;
}

/* Swiper container and slides */
.swiper-container {
  width: 100%; /* Set to 100% */
  max-width: 600px; /* Maximum width */
  height: 200px; /* Reduced height for the swiper */
  margin: 0 auto; /* Center align the swiper */
  margin-bottom: 20px; /* Margin to prevent overlap */
}

.swiper-slide img {
  width: 100%; /* Set image width to fill the slide */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure images are centered */
}

.category-box {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.category-box:hover {
  background-color: #b6e5d8;
}

.start-writing {
  background-color: var(--background-color);
  padding: 15px 35px;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
}

.start-writing:hover {
  background-color: var(--background-color);
}

.thumbnail {
  width: 100%;
  max-height: 300px; /* Limit the maximum height */
  object-fit: cover;
  box-shadow:rgb(69 17 11) 0px 0px 10px;
  border-radius: 20px;
}
.thumbnail:hover{
  box-shadow:rgb(148, 24, 10) 0px 0px 20px;
}

.object-fit {
  max-height: 130px;
  height: auto; /* Maintain aspect ratio */
  width: 130px; /* Adjust width to a reasonable size */
  object-fit: cover; /* Ensures it fills the dimensions appropriately */
}

.rounded {
  height: 100px; /* Adjust size to smaller */
  width: 100px;
  object-fit: cover;
  border-radius: 50%; /* Round it */
}

.img-fluid {
  max-width: 100%; /* Ensure images don’t exceed container */
  height: auto; /* Maintain aspect ratio */
}

/* Dark mode */

/* Default light mode colors */
:root {
  --background-color: rgb(244, 237, 227);
  --text-color: rgb(59, 59, 88);
  --header-bg: lightgray;
}

h2 {
  color: var(--text-color);
}
/* Dark mode colors #1c1c1c  #f2dede;   rgb(59, 59, 88);*/
[data-theme="dark"] {
  --background-color: #171717;
  --text-color:  #f2dede; 
  --header-bg: #1c1c1c;
}
p {
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}


/* header {
  background-color: var(--header-bg);

  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

h1 {
  margin: 0;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

#mode-label {
  margin-left: 10px;
  font-size: 1rem;
}

/* Toggle Switch */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #ffecb3, #ffcc80); /* Gradient for light mode */
  transition: 0.4s;
  border-radius: 30px;
}

input:checked + .slider {
  background: linear-gradient(to right, #283e51, #4b79a1); 
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
  top: 3px;
  left: 3px;
}

input:checked + .slider:before {
  transform: translateX(30px); 
}

.icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sun-icon {
  left: 5px;
  opacity: 1;
}

.moon-icon {
  right: 5px;
  opacity: 0;
}

input:checked + .slider .sun-icon {
  opacity: 0;
}

input:checked + .slider .moon-icon {
  opacity: 1; 
}

#mode-label {
  font-size: 14px;
  margin-left: 10px;
  color: #333;
}
/* FAQ Section */
.container_1 {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  place-items: center;
  margin-top: 60px;
}

.accordion__wrapper {
  background-color: #f3b5af;
  box-shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05);
  border-radius: 2.5rem;
  width: 100%;
  max-width: 60rem;
  padding-top: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2.5rem;
  
}

.accordion__title,
.faq h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #242e4c;
  margin-bottom: 2.5rem;
}

.accordion {
  /* border-bottom: 0.5rem solid #dae1f5; */
  border: 1px solid white;
  /* padding-bottom: 2rem; */
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* .accordion__header:hover {
  background-color: #f1f1f1;
} */

.accordion__icon {
  background-color: #f16565;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  flex-shrink: 0;
  font-weight: 900;
  transition: transform 0.7s ease;
}
.accordion.active .accordion__icon {
  transform: rotate(-45deg);
}
.accordion.active {
  border: 1px solid #f16565;
  background-color: rgba(255, 255, 255, 0.735);
}
/* .fa-solid.fa-comments {
  position: absolute;
  font-size: 100px;
  color: #002a5b36;
  z-index: -0.5;
  top: 10px;
} */
.accordion__question {
  font-size: 1.2rem;
  font-weight: 500;
  color: #002b5b;
}

.accordion__answer {
  padding: 1.2rem 0 1rem ;
  /* z-index: 2; */
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease-in-out;
  color: #333333;
  font-size: 18px;
  /* position: relative; */
}

/*FAQ improvement for Dark Theme*/
[data-theme="dark"] .faq .accordion__wrapper {
  background-color: #f1f1f1;
  color: #f1f1f1;
}

[data-theme="dark"] .accordion__question {
  color: #ddd;
}

[data-theme="dark"] .accordion {
  background-color: black;
}

[data-theme="dark"] .accordion__icon{
  background-color: white;
}

[data-theme="dark"] .accordion.active {
  border: none;
}


footer p {
  margin: 10px 0 0 0;
  text-align: center;
}

/* WordWise Newsletter Section Styling */
.wordwise-newsletter-section {
  background-color: #f8b5b5;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}

.wordwise-newsletter-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.wordwise-newsletter-container p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.wordwise-newsletter-form input[type="email"] {
  padding: 10px;
  font-size: 1rem;
  width: 60%;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.wordwise-newsletter-form button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wordwise-newsletter-form button:hover {
  background-color: #555;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .wordwise-newsletter-form input[type="email"] {
    width: 80%;
    margin-bottom: 10px;
  }

  .wordwise-newsletter-form button {
    width: 100%;
  }
}

/* WordWise Footer Styling for authentication */
.wordwise-footer {
  background-color: #333;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}

.wordwise-footer-content p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: white;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .wordwise-footer-content p {
    font-size: 0.8rem;
  }
}

/* Toast styling */
.toast {
    visibility: hidden; /* Hidden by default */
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.6s, visibility 0.6s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.toast.success {
    background-color: green;
}

.toast.error {
    background-color: red;
}

/* for facebook */
.flex-wrap .fa-facebook-f {
  transition: color 0.3s ease, transform 0.3s ease;
}
.flex-wrap .fa-facebook-f:hover{
  color:#4267B2;
  transform:scale(1.1);
}

/* for twitter */
.flex-wrap .fa-x-twitter {
  transition: color 0.3s ease, transform 0.3s ease;
}
.flex-wrap .fa-x-twitter:hover{
  color:black;
  transform:scale(1.1);
}
/* for instagram */
.flex-wrap .fa-instagram {
  transition: color 0.3s ease, transform 0.3s ease;
}
.flex-wrap .fa-instagram:hover{
  color:#c32aa3;
  transform:scale(1.1);
}

/* for dribble */
.flex-wrap .fa-dribbble {
  transition: color 0.3s ease, transform 0.3s ease;
}
.flex-wrap .fa-dribbble:hover{
  color:#ea4c89;
  transform:scale(1.1);
}

.issue-303{
  border-radius: 4px;
  background-color: var(--text-color);
  color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.issue-303:hover{
  background-color: var(--background-color);
  color: black;
  padding: 2px;
}

/*--------*/

.commentform{
  margin-top: 50px;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* height: 500px; */
  gap:10px;
  
}

.comment-box1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
} 
.comment-input{
  /* flex: 1; */
  padding: 20px;
  border-radius: 20px;
  border: #000 solid 1px;
  /* max-width: 500px; */
}

.comment-box2{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: auto;
}

.comment-input2,.comment-textarea{
  padding: 20px;
  border-radius: 20px;
  border: #000 solid 1px;
  width: 100%;
}

.comment-textarea{
  height: 200px;
  resize: none;
}
.commentbtn{
  margin-top: 20px;
  margin-left: 40%;
  padding: 20px;
  border-radius: 20px;
  color: white;
  background-color: #007bff;
  border: #000 1px solid;
  width: 200px;
}

.comment-input,.comment-input2,.form-control::placeholder{
 text-align: center;
 font-size: 18px;
}
